@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
  font-size: 18px !important;

}

body {
  background: black;
  overflow-x: hidden !important;
}

#main-app {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden !important;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: rgb(112, 41, 99);
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  /* background: #5436DA; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  /* background: #10a37f; */
}

.profile img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: white;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: rgb(30, 57, 78);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}


@media (min-width: 320px) and (max-width: 469px) {
  textarea{
    font-size: 12px !important;
  }
}

@media (min-width: 992px){
  h1{
    font-size: 30px !important;
  }
}